<div class="container"> 
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h3>Busca</h3>

        <div class="form-group">
            <label for="search"></label>
            <input type="search" 
                [ngModel] = "busca"
                (ngModelChange) = "search($event)" 
                class="form-control" placeholder="Digite sua busca">
        </div>

        <ul class="list-group">
            <li *ngFor="let c of contatos | async" class="list-group-item cursor-pointer" (click)="verDetalhe(c)">{{ c.nome }}</li>
        </ul>

    </div>
</div>